/* Targeting everything in terms of styles
(color: applys to all colors of the text)
(box-sizing: allows you control the width of the divs) 
*/
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}