/* Targeting everything in terms of styles
(color: applys to all colors of the text)
(box-sizing: allows you control the width of the divs) 
*/
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* color: #393c41; */
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Animates the up and down arrow */
@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: trnaslateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}